/* Your styles go here */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.navbar, footer{
  background-color: #B0BAC3;
}

.divMarketing {
  background: url("../images/holding_cash.jpg") center center / cover no-repeat;
  min-height: 370px;
  border-radius: .375rem;
  
}

.blockquote-footer {
  margin-top: .5rem;
  text-align: right;
}


.steps >  li {
  list-style: none;
}

